*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #ecf0fc;
}
.loging-div{
    /* border: 1px solid black; */
    height: 500px;
    width: 280px;
    border-radius: 30px;
    padding: 30px 20px ;
    background: #ecf0f3 ;
    box-shadow: 13px 13px 20px  #cbced1,
                -13px -13px 20px white;
}

.loging-div .logo{
    width: 100px;
    height: 100px;
    /* border: 1px solid white;  */
    margin: auto;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  
                 0px 0px 2px #5f5f5f,
                 0px 0px  0px 5px rgb(231, 145, 48),
                 8px 8px 15px #a7aaaf,
                -8px -8px 15px  #ffffff;
}
.loging-div .logo img{
    width: 80px;
    height: 80px;
}
.loging-div .logo p{
    text-align: center;
    
}

.loging-div .title h3{
    margin-top: 15px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.loging-div .title h5{
    text-align: center;
}

.fields{
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 40px;
}
.fields input{
    border: none;
    outline: none;
    font-size: 15px;
    /* width: 100%; */
    background: none;
    padding: 15px 20px 15px 20px;
}

.username ,.password{
    margin-bottom: 25px ;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px  #cbced1,
                inset -8px -8px 8px  #ffffff;
}
/* .fields .username i {
    margin-left: 60px;
    color: rgb(112, 15, 15);
    background-color: black;
    font-size: 25px ;
   
   
} */

.fields button{
    display: inline-block;
    width: 120px;
    border: none;
    outline: none;
    background-color:rgb(231, 145, 48);
    padding: 8px 0;
    margin-left: 25%;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
    transition: .6s;
    font-size: 17px;
    text-transform: capitalize;
    color: white;
}

.fields button:hover{
    background-color: rgb(231, 216, 48);
    transform: scale(1.1);
    color: rgb(77, 65, 51);
    letter-spacing: 1.5px;
    font-weight: 700;
   
}